[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
click = "*"

[dev-packages]
ipython = "*"
setuptools = "*"
mypy = "*"

[requires]
python_version = "3.7"
